body{
  background-color: #55423d;
  margin: 0;
  padding: 0px;
}
.text-center{
    text-align: center;
}
.merienda{
    font-family: "Merienda", cursive;
    color: #fffffe;
    font-size: 40px;
}
.merienda-2{
    font-family: "Merienda", cursive;
    font-size: 15px;
}
.nounderline{
    text-decoration: none;
}
.btn{
    background-color:#ffd803;
    height: 50px;
    width: 150px;
    font-family: "Merienda", cursive;
    color: #000000;
    padding: 10px;
    margin: 5px;
    font-size:17px;
    text-align: center;
    border-radius: 30px;
    border: none;
}
.btn:hover{
    background-color:#c9bab5;
    box-shadow: 0 0 5px 3px #856a60;
}
.icon{
    height: 30px;
    width: 30px;
    margin:10px 5px;
}
.icon-position{
    align-items: center;
    text-align: center;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#fff3ec;
    height: 60px;
}
.header-btn{
    width: 100px;
    height: 23px;
    padding: 5px;
    margin: 20px;
    background-color:none;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}
.header-btn:hover{
    background-color: #ffd803;
}
